In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("C:\\vs-code-folder\\ML_Practice\\gender_classification_v7.csv")

In [3]:
dataset.isnull().sum()

long_hair                    0
forehead_width_cm            0
forehead_height_cm           0
nose_wide                    0
nose_long                    0
lips_thin                    0
distance_nose_to_lip_long    0
gender                       0
dtype: int64

In [4]:
dataset.head(7)

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female
5,1,13.0,6.8,1,1,1,1,Male
6,1,15.3,6.2,1,1,1,0,Male

In [5]:
en_data = dataset[["gender"]]
pd.get_dummies(en_data).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender_Female  5001 non-null   bool
 1   gender_Male    5001 non-null   bool
dtypes: bool(2)
memory usage: 9.9 KB

In [6]:
from sklearn.preprocessing import OneHotEncoder

In [7]:
ohe = OneHotEncoder()
ohe.fit_transform(en_data)
#fit_transform understand your dataset and convert categorical data into numerical data
#in sparseMatrix general content is filled in 0 & 1

<5001x2 sparse matrix of type '<class 'numpy.float64'>'
	with 5001 stored elements in Compressed Sparse Row format>

In [8]:
#convert above data into array 
ar = ohe.fit_transform(en_data).toarray()

In [9]:
print(ar)

[[0. 1.]
 [1. 0.]
 [0. 1.]
 ...
 [1. 0.]
 [1. 0.]
 [0. 1.]]

In [10]:
#converting array data into dataframe
pd.DataFrame(ar,columns=[["gender_Female","gender_Male"]])

     gender_Female gender_Male
0              0.0         1.0
1              1.0         0.0
2              0.0         1.0
3              0.0         1.0
4              1.0         0.0
...            ...         ...
4996           1.0         0.0
4997           1.0         0.0
4998           1.0         0.0
4999           1.0         0.0
5000           0.0         1.0

[5001 rows x 2 columns]

In [12]:
#drop is used when there is more no of columns
ohe = OneHotEncoder(drop="first")  #drop the first column
ar = ohe.fit_transform(en_data).toarray()
ar

array([[1.],
       [0.],
       [1.],
       ...,
       [0.],
       [0.],
       [1.]])

In [14]:
pd.DataFrame(ar,columns=[["gender_Male"]])

     gender_Male
0            1.0
1            0.0
2            1.0
3            1.0
4            0.0
...          ...
4996         0.0
4997         0.0
4998         0.0
4999         0.0
5000         1.0

[5001 rows x 1 columns]

In this way we convert categorical data into numerical data using one hot encoding