In [1]:
import pandas as pd

In [4]:
dataset = pd.read_csv("C:\\vs-code-folder\\ML_Practice\\Bengaluru_House_Data.csv")
dataset.head(4)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [5]:
dataset.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [6]:
dataset["availability"].value_counts()

availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64

In [7]:
#replacing Ready To Move with 11
dataset["availability"].replace("Ready To Move","11")

0        19-Dec
1            11
2            11
3            11
4            11
          ...
13315        11
13316        11
13317        11
13318    18-Jun
13319        11
Name: availability, Length: 13320, dtype: object

In [8]:
dataset["availability"].replace("Ready To Move","11",inplace=True)

In [9]:
dataset["availability"].value_counts()

availability
11        10581
18-Dec      307
18-May      295
18-Apr      271
18-Aug      200
          ...
15-Aug        1
17-Jan        1
16-Nov        1
16-Jan        1
14-Jul        1
Name: count, Length: 81, dtype: int64

Converting data from object type into int64

In [ ]:
dataset["availability"].astype("int64")

due to not reuired dataset I am unable to perform astype() but it can be applied if all the cells of the column is int type

In [ ]:
dataset["availability"] = dataset["availability"].astype("int64")
dataset.info()